<b>Cart</b>

<form method="POST" action="/cart">
<ul>
    {{#each quantities}}
        <li>{{this.product.name}} - {{this.product.description}} - {{this.quantity}}<button type="submit" name="productId" value={{this.product._id}}>Remove From Cart</button></li>
    {{else}}
        No results
    {{/each}}
</ul>

<button type="submit" name="submitOrder" value="true">SUBMIT ORDER</button>

Note: If more is being taken than there is in inventory, you will get as much as you can.
</form>