<b>Past Orders</b>

<ul>{{#each order}}
    <li>
        Order: {{this._id}}
        <ul>
        {{#each quantity}}
            <li>{{this.product.name}} - {{this.product.description}} - {{this.quantity}}<button>Remove From Cart</button></li>
        {{else}}
            No results
        {{/each}}

        </ul>
    </li>
    {{/each}}
</ul>