<b>Past Orders</b>

<ul>{{#each orders}}
    <li>
        Order: {{this._id}}
        <ul>
        {{#each quantities}}
            <li>{{this.product.name}} - {{this.product.description}} - {{this.quantity}}</li>
        {{else}}
            No products
        {{/each}}

        </ul>
    </li>
    {{else}}
            No past orders
    {{/each}}
</ul>